@import url("reset.css");

#mobilenav {
  display: block;
}
#menu {
  position:absolute; 
  left:0;
  background-color:#27264D;
}
#menu a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px;
}
#menu a:hover {
  color: #F57A2E;
  text-decoration: underline;
}

#primarynav, #secondarynav, #lectures{
  display:none;
}
#backtotop{
  position:fixed;
  bottom:0px;
  width:100%; 
  height:30px; 
  background-color:#27264D;
  z-index:9999;
  display: none;
  text-align: center;
}
#backtotop a{
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px 0;
}
#backtotop a:hover{
  color: #F57A2E;
  text-decoration: underline;
}

@media (min-width: 361px) {

#primarynav, #secondarynav, #lectures{
  display:block;
}

#mobilenav {
  display: none;
}

#primarynav{
  width:100%; 
  height:60px; 
  background-color:#27264D;
  color: #FFFFFF;
}
#secondarynav{
  position:fixed;
  top:0px;
  width:100%; 
  height:60px; 
  background-color:#27264D;
  color: #FFFFFF;
  z-index:9999;
  display: none;
}
.ddmenu {
  background-color:#27264D;
  display: block;
  color: #8aa8bd;
  width:40%;
  margin:0 auto;
  min-width:400px;
}

.ddmenu li { 
  display: block;
  position: relative;
  float: left;
  font-size: 1.45em;
  width:33%;
}
.ddmenu li a {
  text-align: center;
  display: block;
  float: left;
  padding: 18px 0px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  width:100%;
}
.ddmenu li:hover > a {
  color: #F57A2E;
  text-decoration: underline;
}
.ddmenu ul {
  background-color:#27264D;
  position: absolute;
  top: 65px;
  width: 100%;
  display: none;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.ddmenu ul li { 
  display: block; 
  width: 100%; 
  font-size: 0.9em; 
  overflow: hidden;
  border-bottom: solid #FFFFFF 1px;
}
.ddmenu ul li:last-child{
  border: none;
}
.ddmenu ul li a {
  color: #FFFFFF;
  text-align: left;
  font-weight: normal;
  display: block;
  width: 100%;
  padding: 5px;
  line-height: 1.5em;
  font-size: 0.7em;
}
.ddmenu ul li a:hover {
  color: #F57A2E;
  text-decoration: underline;
}
#primarynav h1 {
  font-size: 25px;
  float:left;
  padding:15px 10px 10px;
  margin-left: 2em;
}
#secondarynav h1 {
  font-size: 25px;
  float:left;
  padding:15px 10px 10px;
  margin-left: 2em;
}

#lectures{
  float:right;
  width:20%;
}
#lectures ul{
  margin: 10% auto;
  margin-top: 20%;
  list-style: none;
  width:80%;
  background-color:#FFFFFF;
  text-align: center;
  border: solid #E6E6E6 3px;
}
#lectures li{
  border-bottom: solid #E6E6E6 3px;
  padding: 5% 0;
}
#lectures a{
  text-decoration: none;
  color: #27264D;
  font-weight: bold;
  padding: 5px 0;
}
#lectures a:hover{
  color: #F57A2E;
  text-decoration: underline;
}
}