

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

body {
	background: white;
	color: black;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1;
	
}
.sitemap {
	margin: 0 0 40px 0;
	float: left;
	width: 100%;
}

a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}

#wrapper {
	background-color:#E6E6E6;
	overflow: hidden;
}

/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

#sitemapprimarynav {
	margin: 0;
	float: left;
	width: 100%;
	
}
#sitemapprimarynav #sitemaphome {
	display: block;
	float: none;
	padding: 30px;
	max-width: 100px;
}
#sitemapprimarynav li {
	float: left;
	padding: 20px;
	    
}
#sitemapprimarynav li a {
	margin: 0 0 0 0;
	padding: 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color: white;	
    background-color: #27264D;
	font-family: 'Raleway', Verdana, sans-serif;
	text-transform: uppercase;
}
#sitemapprimarynav li a:hover {
	color: #F57A2E;
    padding: 10px;
}



/* --------	Second Level --------- */

#sitemapprimarynav li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 0;
    border-left: solid 3px #27264D;
	
}
#sitemapprimarynav li li a {
	background-color: #E6E6E6;
    color:#00AEEA;
	text-transform:none;

}
#sitemapprimarynav li li a:hover {
	padding:10px 10px 10px 15px;
	background-color: #fffce5;
}


/* --------	Third Level --------- */

#sitemapprimarynav li li ul {
	margin: 0;
	width: 100%;
	padding: 2px;
    
}
#sitemapprimarynav li li li {
	list-style:circle;
	margin: 0 0 0 20px;
	border-style:none;
	clear:both;
}
#sitemapprimarynav li li li a {
	font-size: 14px;
	width: 80%;
	padding:0 0 0 2px;
	background-color: #E6E6E6;
	
}
#sitemapprimarynav li li li a:hover {
	
    padding:0 0 0 15px;
}


