/* ------------------------------------------------------------
	Reset Styles (from meyerweb.com)
------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #sitemapprimarynav li to set the number
	of columns required in your site map. The default is 
	4 columns (25%). 5 columns would be 20%, 6 columns would 
	be 16.6%, etc. 
------------------------------------------------------------ */

#sitemapprimarynav li {
	width:20%;
}


/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

body {
	background: white;
	color: black;
	padding: 40px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1;
	min-width:1200px;
}
.sitemap {
	margin: 0 0 40px 0;
	float: left;
	width: 100%;
}
h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 5px 0;
}
h2 {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 10px;
	color: #777777;
	margin: 0 0 20px 0;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}


/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

#sitemapprimarynav {
	margin: 0;
	float: left;
	width: 100%;
	
}
#sitemapprimarynav #sitemaphome {
	display: block;
	float: none;
	position: relative;
	padding: 30px;
}
#sitemapprimarynav li {
	float: left;
	padding: 30px;
	margin: 0;
    
}
#sitemapprimarynav li a {
	margin: 0 20px 0 0;
	padding: 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color: black;	
    background-color: #c3eafb;
}
#sitemapprimarynav li a:hover {
	background-color: #e2f4fd;
    padding: 10px;
}



/* --------	Second Level --------- */

#sitemapprimarynav li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 0;
    border-left: solid 3px #e2f4fd;
	
}
#sitemapprimarynav li li a {
	background-color: white;
    color:#CC9900;

}
#sitemapprimarynav li li a:hover {
	padding:10px 10px 10px 15px;
	background-color: #fffce5;
}


/* --------	Third Level --------- */

#sitemapprimarynav li li ul {
	margin: 0;
	width: 100%;
	padding: 2px;
    
}
#sitemapprimarynav li li li {
	list-style:circle;
	margin: 0 0 0 20px;
	border-style:none;
	clear:both;
}
#sitemapprimarynav li li li a {
	font-size: 14px;
	width: 80%;
	padding:0 0 0 2px;
	
	
}
#sitemapprimarynav li li li a:hover {
	
    padding:0 0 0 15px;
}


