body{
	font-family: 'Open Sans', sans-serif;
}
header{background-color:white;
}
header h1
{
display:none;
}
#wrapper {
	background-color:#E6E6E6;
	overflow: hidden;
}

#seperator{
display:none;}

#content h2{
            
font-family: 'Raleway', sans-serif;
padding-bottom:20px;
color: #00AEEA;
font-size:17pt;
				}
				
#content{
	 background-color:#E6E6E6;
	width: 100%;
float:left;
font-size:10pt;
padding-top:40px;
}
#content article{
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	padding-left:5%;

}
#content article ul,#content article ol{
padding-left: 5%;
}
.content-block{ border:dashed 1px;
                background-color:#B9E8EA; 
                font-size: 1.1em;
				padding: 0 1em 0 1em;
}
footer {

}
footer ul{
  background-color:#3C3B3B;
  color:white;
  width:100%;
  text-align:center;
 vertical-align:middle;
  float:left;  
  padding: 5px 0 30px 0;
   font-weight:bold;
   margin-top:20px;
  }
  
footer li{
padding:5px 0px;
list-style-type:none;

}

footer a:link{
	color:white;
	text-decoration:none;
	padding: 5px;
}
footer a:visited {color:white;}
footer a:hover {
	color:#F57A2E;
	padding: 5px;
	text-decoration:underline;
}

@media (min-width: 361px) {
	#content{padding-top:0px;}
	#content article{ padding: 20px 5% 0px 5%;}
	#seperator{display:inline;}
	footer li{
list-style-type:none;
display:inline;
padding: 0 20px;
width: 80%;
}
footer ul{ padding: 10px 0 40px 0;}
header h1
{
display:block;
font-family: 'Open Sans', sans-serif;
width:100%;
color: #F57A2E;
text-align:center;
font-size:2em;
background-color:white;
padding:20px;
}
}

