body{
	font-family: 'Open Sans', sans-serif;
}

#content h2{
            
font-family: 'Raleway', sans-serif;
padding-bottom:20px;
color: #00AEEA;
font-size:17pt;
				}
				
#content{
	padding: 20px;
	 background-color:#E6E6E6;
	width: 100%;
float:left;
font-size:10pt;
}
#welcome{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
.content-block{ border:dashed 1px;
                background-color:#B9E8EA; 
                font-size: 1.1em;
				padding: 0 1em 0 1em;
}

footer ul{
  background-color:#3C3B3B;
  color:white;
  width:100%;
  text-align:center;
 vertical-align:middle;
  float:left;  
  padding: 10px 0;
   font-weight:bold;
  }
  
footer li{
list-style-type:none;
display:inline;
padding: 0 20px;
}

footer a:link{
	color:white;
	text-decoration:none;
	padding: 5px;
}
footer a:visited {color:white;}
footer a:hover {
	color:#F57A2E;
	padding: 5px;
	text-decoration:underline;
}

